.main-container {
  border: 2px solid #eeeeee;
  padding: 10px 20px;
  max-width: 540px;
  margin: 3rem auto;
  border-radius: 0.5rem;
}
h2 {
  margin: 0.5rem 0 0.75rem 0;
  font-size: 24px;
}
.result-bar {
  position: relative;
  height: 1.5rem;
  border-radius: 25px;
  margin-bottom: 0.5rem;
}
.result-text {
  position: relative;
  z-index: 1;
  font-size: 14px;
  top: 0.2rem;
  left: 0.5rem;
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f4f0f0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.option-button {
  width: 100%;
  border: 1px solid #0058ff;
  margin: 0.25rem auto;
  border-radius: 1rem;
  padding: 6px 0;
  color: #0058ff;
  cursor: pointer;
  background-color: #fff;
}
.option-button:hover {
  background-color: #e6eeff;
}
.undo-btn {
  cursor: pointer;
  padding: 4px 16px;
  border-radius: 25px;
  color: red;
  background-color: #fff;
  border: 1px solid red;
}
.mt-2 {
  margin-top: 0.5rem;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

@media screen and (max-width: 468px) {
  .main-container {
    padding: 10px;
  }
  h2 {
    font-size: 20px;
  }
}
